*{
  margin: 0;
  padding: 0;
}
html {
  background-color: #404040;
}


header {
  background-color: orange;
  height:210px;
}

#main-box{
  background-color: blue;
  padding: 10px;
  margin: 0 200px;
}
#splatoon1 {
  margin: 0 auto;
  text-align: center;
  display: block;
}

#splatoonlogo {
  width: 420px;
  margin-top: -29px;
  margin-left: 10px
}

p {
  text-align: center;
}


#Firstgame {
  padding: 10px;
  border-radius: 50px 50px 50px 0px;
  margin: 10px auto;
  color: black;
  display: block;
  background-color: white;
  width: 700px;
  height: 80px;
}


.PlotSploon1 {
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  height: 10px;
  weight: 0px;
  background-color: white;
  padding: 10px;
  height: 20px;
  width: 40px;
  border-radius: 40px 0 40px 40px
}



#tag{
  text-align: center;
  padding: 10px;
  width: 150px;
  transform:translate(850px, 80px)
}
#IDK {
  margin: 0 auto;
  transform:translate(800px, 80px)
}

.Splatoon1Plot {
  background-color: orange;
  padding: 10px;
  width: 50%;
  height: 100%;
  border: 2px;
  border-radius: 0px 20px 0px 60px;
  margin: 0 auto;
  margin-top: 10px
}

#StoryModeVid {
  margin-top: 20px;
}

#Modes {
  margin: 0 auto;
  background-color: white;
  border: 10px white;
  padding: 10px;
  width: 100px;
  border-radius: 20px 20px 0px 20px;
  margin-top: 12px;
}

#GamerModes {
  background-color: orange;
  border: 10px orange;
  pading: 10px;
  width: 1000px;
  border-radius: 2000px 2000px 2000px 3000px;
  margin: 0 auto;
  height: 500px;
  margin-top: 20px
}

.offline {
  background-color: blue;
  width: 400px;
  margin: 0px 0px 0px 0px;
  border: 20px blue;
  border-radius: 00px 0px 20px 0px;
  float: left;
  padding: 20px
}

.online {
  border: 20px;
  bottom: 200px;
  color: white;
  padding: 130px
}

footer {
  background-color: orange;
  height:210px;
}

#GoUp {
  margin: 0 auto;
  display: block;
  height: 220px;
}

